<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>vGrid - Variable Grid System (Elastic version)</title>
  <link href="./stylesheets/grid.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <style type="text/css" media="screen">
    h1 {color:#fff;}
    .grid_12 {background:#9a9a9a; margin-bottom:6px;}
    .grid_1 {background:#cecece;}
  </style>
</head>
<body>
  <div class="container_12">
    <div class="grid_12">
      <h1>vGrid - Variable Grid System (Elastic version)</h1>
    </div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
    <div class="grid_1">&nbsp;</div>
  </div>
</body>
</html>